.video-mixin {
  .video-mixin__thumb {
    height: 140px;
    border-radius: 7px;
    width: 100%;
    background-color: ivory;
    overflow: hidden; /* 이미지가 넘치지 않도록 설정 */

    /* 추가 */
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%; /* 가로 100%로 설정 */
      height: 100%; /* 세로 100%로 설정 */
      object-fit: cover; /* 비율 유지하면서 div를 꽉 채움 */
    }
  }
  .video-mixin__data {
    padding: 0px 15px;
    .video-mixin__title {
      font-size: 18px;
      display: block;
      margin-top: 10px;
    }
    .video-mixin__meta {
      margin-top: 5px;
      font-size: 12px;
    }
  }
}
